body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
}

.com {
	color: red;
}

p {

  text-indent: 50px;
  text-align: center;

}

h1 {

  text-align: center;

}
h2 {

  text-align: center;

}

h4 {

  text-align: center;

}
figure {

  text-align: center;

}

p1 {


}
